.row {
    text-align: center;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .left {
        margin-top: 5px;
        margin-bottom: 20px;
        flex: 100%
    }

    .right {
        flex: 100%;
    }
}

@media screen and (min-width: 600px) {
    .left {
        flex: 50%;
        border-right: 2px dashed #2f4d49;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .right {
        flex: 50%;
        margin-top: 5px;
    }
}

.bold {
    font-weight: bold;
    margin: 0;
}

.cursive {
    font-style: italic;
    margin: 2px;
}

.right p,
.left p {
    margin: 5px 0;
}

.right h1,
.left h1 {
    vertical-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4b2419;
    padding-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #D1CDD4;
}

.right h3,
.left h3 {
    padding-bottom: 5px;
    margin-bottom: 0px;
}