.row {
    text-align: center;
}

.left {
    border-right: 2px dashed #2f4d49;
}

.main p {
    color: #2e160f;
    font-family: lato arial;
}

.cursive {
    font-style: italic;
    margin: 2px;
}

.right p,
.left p {
    margin: 5px 0;
}



h2,
h3 {
    margin-top: 10px;
    background-color: #e6e4e0;
    margin-bottom: 5px;
    color: #2e160f;

}

h2 {
    padding-bottom: 2px;
}

.bgc {
    background-color: #D1CDC4;
}

.bold {
    color: #2e160f;
    font-weight: bold;
    font-family: lato arial;
}

@media (max-width: 767.98px) {
    .left {
        border-right: none;
    }
}